<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width initial-scale=1">
		<title>Elektro-EPLAN-makroprosjekt</title>
		<style type="text/css">			
			.boks {
				border: 1px solid #665544;
				//background-color: #efefef;
				padding: inherit;}  
		</style>
	</head>
	<body>
		<div class="content"
		<h1>Innføring</h1>
		<p>Målet med et makroprosjekt er å kunne lage produksjonsunderlag raskt og med god kvalitet. Makroprosjektet genererer makroer 
		som EPLAN kan bruke.</p>
		<p>Her kommer noen spesifikke forslag til hvordan et makroprosjekt skal utvikles.</p> 
		<p>Filstier i dette dokumentet er relative til <b>C:/Users/Public/EPLAN/{{company-code.lowercase}}-data-eplan</b></p>
		<h1>Forslag til struktering</h1>
		<p>Vi tar nå eierskap til to mapper. Mappene <b>Macros/{{company-code}}/WINDOW</b> og <b>Macros/{{company-code}}/SYMBOL</b>. 
		Bedrifter av små og mellomstor størrelse trenger ikke undermapper. Vi tillater at makroprosjektet gjør endringer i disse mappene. 
		Vi tillater ikke at makroprosjektet gjør endringer i andre mapper. Slik unngår vi å konflikter med dataportalen og nye utgaver av EPLAN.</p>

		<p>Symbolmakroer har etternavn <b>.ems</b> og legges i <b>Macros/{{company-code}}/SYMBOL</b> mappen. 
		Vindumakroer har etternavn <b>.ema</b> og legges i <b>Macros/{{company-code}}/WINDOW</b> mappen.</p>

		<p>Et godt utgangspunkt er å starte makroens fornavn med EPLAN sitt delenummer. 3D makroer skal 
		ende med <b>_3D</b> på slutten av fornavnet.</p>

		<p>Eksempel: 3D modell av Rittall sin RIT.1468500 legge her</p>
		<div class="boks">
		<p>SYMBOL/RIT.1468500_3D.ema</p>
		</div>

		<p>Ja, det er sant at RIT.1468500 finnes i dataportalen allerede, men makroer for Rittal sin KS serie er problematiske 
		fordi de tar definert <b>placement area</b> i bunn av skapet. Bunn av dette skapet står ikke 90 grader på dør og bakside. 
		Dette gjør at komponenter som blir satt i skapsiden blir vridd noen grader.</p>
		</div>
		<div class="form-box">
			<button onclick="Html_to_Pdf()">Laste ned som PDF</button>		
		</div>
	
	<script src="./js/jquery-3.5.1.js"></script>
	<script src="./js/jspdf.js"></script>
	<script src="./js/pdfFromHtml.js"></script>	
	
	</body>
</html>